* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
    display: flex; 
}

nav{
    height: 90vh;
    width: 10vw;
    background-color: black;
}

section{
    height: 90vh;
    width: 90vw;
    background-color: blue;
}

header{
    height: 10vh;
    background-color:black; 
    opacity: 0.5;
}

footer{
    height: 10vh;
    width: 100vw;
    background-color: red;
}

@media screen and (min-width: 480px) {

    nav{
        width: 40vw;
    }
    
    section{
        width: 60vw;
    }
    
}

@media screen and (min-width: 768px) {

    nav{
        width: 30vw;
    }
    
    section{
        width: 70vw;
    }
    
}

@media screen and (min-width: 1024px) {

    nav{
        width: 20vw;
    }
    
    section{
        width: 80vw;
    }
    
}