* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
    --bg-hedear: rgba(0, 0, 0,0.5);
    --bg-section: rgb(0, 0, 36);
    --bg-nav:black;
    --bg-footer:rgb(31, 31, 31);
    --color-text1:white;
    --color-text2:grey;
}

main{
    display: flex; 
}

.container{
    display: flex;
}

.color-text1{
    color: var(--color-text1);
}

nav{
    height: 90vh;
    width: 10vw;
    background-color: var(--bg-nav);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-top{
    overflow: auto;
}

a{
    text-decoration: none;
    color: var(--color-text1);  
}

#logo-small{
    padding: 0.2rem;
}

.text-nav, #logo, hr{
    display: none;
}

ul{
    list-style-type: none;
    color: var(--color-text1);
}

.nav-top ul li{
    padding: 0.2rem;
}

#img-dowload{
    padding: 0.4rem;
}

#img-user{
    margin: 0.2rem;
    border: 1px white solid;
    border-radius: 50%;
    background-color: lightgray;
}

header{
    height: 10vh;
    margin-bottom: 1rem;
    background-color:var(--bg-hedear);
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    top: 0;
}

.upgrade{
    background: none;
    color: var(--color-text1);
    border: 1px white solid;
    border-radius: 20px;
    padding: 10px 20px;
    margin: auto 5%;
}

section{
    height: 90vh;
    width: 90vw;
    background-color: var(--bg-section);
    overflow: auto;
}

.container-top-bar{
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-text1);
    margin-bottom: 2rem;
}

.text-top-bar{
    padding: 0.5rem;
    font-size: 0.8rem;
}

.title-recently, .tilte-creato, .tilte-popolari{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.container-section{
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.img-card{
    width: 10rem;
    height: 10rem;
}

.card{
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.title-card{
    color: var(--color-text1);
    margin: 0.5rem;
    text-align: center;
    max-width: 9rem;
}

.subtitle-card{
    color:var(--color-text2);
    text-align: center;
    max-width: 9rem;
}

.subtitle-creato, .subtitle-popolari{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-text2);
}

.img-popolari{
    border-radius: 50%;
}

footer{
    height: 10vh;
    width: 100vw;
    background-color: var(--bg-footer);
    align-items: center;
    justify-content: space-between;
}

.footer-left{
    align-items: center;
    width: 25%;
}

#img-footer{
    width: 30%;
    max-width: 3rem;
    margin: auto 0.5rem;
}

.text-footer{
    width: 30%;
    max-width: 7rem;
}

.subtitle-footer{
    color: var(--color-text2);
}

.icon-footer-left{
    width: 20%;
    color: var(--color-text1);
    flex-direction: column;
    margin: 0 1rem;
}

.footer-center{
    width: 50%;
    flex-direction: column;
}

.footer-center-top{
    width: 100%;
    justify-content: center;
}

.footer-center-bottom{
    justify-content: center;
}

.icon-footer-center{
    color: var(--color-text1);
    margin: 0.5rem;
}

.text-range{
    margin: 0 0.5rem;
}

#range-center {
    background-color: #ddd;
    height:1rem;
    width: 70%;
}

#range-center::-webkit-slider-thumb {
    background-color: #666;
    height: 1.2rem;
    width: 10%;
}

.footer-right{
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.footer-right-top{
    margin: 0.25rem 0;
}

.footer-right-bottom{
    margin: 0.25rem 0;
}


.icon-footer-right{
    color: var(--color-text1);
    margin: 0 0.2rem;
}

#range-right {
    background-color: #ddd;
    height:1rem;
    width: 50%;
    margin-right: 0.5rem;
}

#range-right::-webkit-slider-thumb {
    background-color: #666;
    height: 1.2rem;
    width: 10%;
}

@media screen and (min-width: 480px) {

    nav{
        width: 40vw;
    }
    
    section{
        width: 60vw;
    }
    
    .text-nav, #logo, hr{
        display: inline-block;
    }
  
    .flex-center{
        display: flex;
        align-items: center;
    }

    #logo-small{
        display: none;
    }

    #logo{
        width: 70%;
        height: 10%;
        margin-top: 5%;
        margin-left: 10%;
    }

    .nav-top ul, .nav-bottom ul{
        min-width: 80%;
    }

    .nav-top ul li{
        padding: 0.5rem;
    }

    .nav-top ul li a img, .nav-bottom ul li a img{
        width: 3rem;
        height: 3rem;
    }

    #square{
        color: var(--bg-nav);
        font-size: 2rem;
        padding: 0.5rem;
        background-color: lightgray;
    }

    #img-dowload{
        padding: 0.1rem;
    }

    hr{
        border: 1px white solid;
        width: 80%;
        margin: 0 10%;
    }

    .container-section{
        justify-content: start;
    }

    .img-card{
        width: 7.5rem;
        height: 7.5rem;
    }

    .title-card, .subtitle-card{
        max-width: 6.5rem;
    }

    .footer-right{
        flex-direction: row;
        justify-content: end;
        width: 25%;
    }

    .footer-right-top{
        margin: 0;
    }

    .footer-right-bottom{
        justify-content: end;
        width: 60%;
        max-width: 12rem;
        margin: 0;
    }

    #range-right {
        background-color: #ddd;
        height:1rem;
        width: 100%;
        margin-right: 0.5rem;
    }
}

@media screen and (min-width: 768px) {

    nav{
        width: 30vw;
    }
    
    section{
        width: 70vw;
    }

    .img-card{
        width: 10rem;
        height: 10rem;
    }

    .title-card, .subtitle-card{
        max-width: 9rem;
    }
}

@media screen and (min-width: 1024px) {

    nav{
        width: 20vw;
    }
    
    section{
        width: 80vw;
    }
    
}